BOT_TOKEN=""
CHAT_ID=""
DB_USER="postgres"
UPLOAD_METHOD="telegram"
GD_CLIENT_ID=""
GD_CLIENT_SECRET=""
GD_REFRESH_TOKEN=""
GD_FOLDER_ID=""
S3_ENDPOINT=""
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=""
S3_REGION=""
S3_PREFIX=""
S3_RETAIN_DAYS="30"
RETAIN_BACKUPS_DAYS="7"
BACKUP_INTERVAL_HOURS=""
CRON_TIMES=""
REMNALABS_ROOT_DIR="/opt/remnawave"
TG_MESSAGE_THREAD_ID=""
TG_PROXY=""
BOT_BACKUP_ENABLED="false"
BOT_BACKUP_PATH=""
BOT_BACKUP_SELECTED=""
BOT_BACKUP_DB_USER="postgres"
SKIP_PANEL_BACKUP="false"
DB_CONNECTION_TYPE="docker"
DB_HOST=""
DB_PORT="5432"
DB_NAME="postgres"
DB_PASSWORD=""
DB_SSL_MODE="prefer"
DB_POSTGRES_VERSION="17"
LANG_CODE="ru"
AUTO_UPDATE="true"
